@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

h1,h2,h3,h4,h5,h6,h7 {
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.navbar {
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--secondary, #e0e0e0);
  color: var(--secondary-on, black);
}

.fixed {
  width: 100%;
  position: fixed;
}

.main.container {
  padding: 3rem;
  padding-top: 10rem;
}

.main > .container {
  padding: 1rem;
}

.card, a.clear {
  text-decoration: none;
  background: var(--component, #e0e0e0);
  color: var(--component-on, black);
  transition: border ease-in-out .5s;
  border-left: 0;
}

.card .container {
  padding: 1rem;
}

.card .title {
  font-weight: 600;
}

.card .description {}

.card .status {
  display: inline-block;
  padding-top: 0.75rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  padding-bottom: .75rem;
  background-color: rgba(0,0,0,15%);
}

.hover:hover {
  border-left: solid black 7px;
}

a.clear {
  -webkit-tap-highlight-color: transparent;
}

p {
  margin-bottom: 2.5rem;
}

a {
  color: var(--accent, blue);
  text-decoration-color: var(--accent, blue);
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: .01rem;
  outline: none;
  border: none;
  background: transparent;
}

ol > li {
  margin-bottom: 1rem;
}

.highlight {
  background-color: var(--highlight);
  padding: 1.5rem;
}